.header {
  height: 40px;
  background-color: #000025;
}
.header__img--logo {
  height: 25px;
}

.header__icons-container {
  @apply gap-1.5
}

.header__icons {
  height: 20px;
}

.header__icons--list {
  width: 35px;
}

.header__btn--buy-tickets-font {
  font-size: 0.7rem;
  font-weight: 500;
}

.header__icons--close {
  width: 25px;
  @apply ms-2.5
}
