.deal-card {
  @apply mx-4 mt-8 overflow-hidden lg:flex lg:items-center lg:justify-start lg:mx-auto lg:bg-gray-300 lg:w-[1024px]
}

.deals__heading {
  @apply font-bold lg:w-[1024px] lg:mx-auto lg:font-light lg:text-[26px] lg:tracking-widest lg:mt-5;
}

.deal-content {
  @apply lg:px-9 lg:w-[50%];
}

.deal-card--image-wrapper {
  @apply lg:m-9 lg:w-[50%] h-full overflow-hidden;
}

.deal-card--image-wrapper img {
  @apply rounded-t-lg w-[100%] object-cover;
  transition: transform 0.3s ease;
}

.deal-card--image-wrapper img:hover {
  transform: scale(1.05);
}

.deal-card h3 {
  @apply text-sm font-bold mt-3 lg:text-xl
}

.deal-card p {
  @apply text-xs mt-3 leading-5
}

.deals--more-info {
  @apply flex gap-3 items-center mt-3.5;
}

.deals--more-info a {
  @apply text-xs font-bold text-blue-950 tracking-wide;
  transition: color 0.4s ease;
}

.indicator {
  @apply w-[17px] h-1 bg-pink-600;
  transition: width 0.4s ease;
}

.deals--more-info a:hover {
  @apply text-pink-600
}

.deals--more-info:hover .indicator {
  @apply w-[25px]
}
