$sideBarWidth: 120px;

html,
body {
  position: relative;
  height: 100%;
}

body {
  //background: #eee;
  //font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  //font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

swiper-container {
  width: calc(100% - $sideBarWidth) ;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

swiper-slide {
  text-align: center;
  //font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  @apply relative border-b lg:border-none border-gray-600;
}

swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

swiper-container {
  margin-left: auto;
  margin-right: auto;
}

.hero-container {
  font-family: 'Roboto', sans-serif;
  @apply flex lg:h-screen;
}

.hero--mobile-wrapper {
  @apply absolute flex flex-col items-start justify-end left-0 top-0 h-full text-white gap-2 ps-4 pb-14 w-full
          bg-gradient-to-b from-[#000025]/0 from-60% to-[#000025]/100
}

.hero--mobile-wrapper h2 {
  @apply text-start
}

.hero__div--status {
  @apply font-light bg-pink-700 px-3 py-0.5;
  font-size: 11px;
}

.hero__btn {
  @apply flex items-center gap-1.5 text-xs font-light
}

.hero__btn--buy-tickets {
  @apply  px-2 py-1.5
}

.hero__btn span {
  @apply font-normal
}

.hero__btn img{
  @apply w-5
}

.hero__side-bar {
  width: $sideBarWidth;
  height: auto;
  @apply bg-blue-900 flex flex-col justify-end items-center text-white;
}

.hero__side-bar div {
  transition: color 0.4s ease;
}

.hero__side-bar:hover div {
  //transition: color 0.3s ease;
  @apply text-pink-600
}

@media screen and (max-width: 1024px) {
  $sideBarWidth: 0px;
  .hero__side-bar {
    width: $sideBarWidth;
  }

  swiper-container {
    width: calc(100% - $sideBarWidth);
  }
}
