html,
body {
  position: relative;
  height: 100%;
}

body {
  //background: #eee;
  //font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  //font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

swiper-container {
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

swiper-slide {
  text-align: center;
  //font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  @apply relative border-b border-gray-600;
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

swiper-container {
  margin-left: auto;
  margin-right: auto;
}

.hero--mobile-wrapper {
  @apply absolute flex flex-col items-start justify-end left-0 top-0 h-full text-white gap-2 ps-4 pb-14 w-full
          bg-gradient-to-b from-[#000025]/0 from-60% to-[#000025]/100
}

.hero__div--status {
  @apply font-light bg-pink-700 px-3 py-0.5;
  font-size: 11px;
}

.hero__btn {
  @apply flex items-center gap-1.5 text-xs font-light
}

.hero__btn--buy-tickets {
  @apply  px-2 py-1.5
}

.hero__btn span {
  @apply font-normal
}

.hero__btn img{
  @apply w-5
}
